# JSON 파일
*.json

# 로그 파일
*.log

# 환경 설정 파일
.env
.env.local
.env.*.local

# 의존성 디렉토리
/node_modules
/vendor

# IDE 설정 파일
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS 생성 파일
.DS_Store
Thumbs.db

# 빌드 출력 디렉토리
/dist
/build
/out

# 임시 파일
*.tmp
*.temp
*.swp
*~

# 캐시 파일
.cache/
*.cache

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# 기존의 다른 ignore 규칙들...
*.json
.env
# ... 등 

/Roboflow/captured_images
/Roboflow/titledplayground2.v1i.yolov8/

/LogitechC270/runs/
/LogitechC270/data.yaml
/LogitechC270/yolov8n.pt


# Unity specific ignores - applies to all Unity projects
Unity/*/.utmp/
Unity/*/[Ll]ibrary/
Unity/*/[Tt]emp/
Unity/*/[Oo]bj/
Unity/*/[Bb]uild/
Unity/*/[Bb]uilds/
Unity/*/[Ll]ogs/
Unity/*/[Uu]ser[Ss]ettings/
Unity/*/[Mm]emoryCaptures/
Unity/*/[Rr]ecordings/
Unity/*/[Aa]ssets/Plugins/Editor/JetBrains*
Unity/*/.vs/
Unity/*/.gradle/
Unity/*/ExportedObj/
Unity/*/.consulo/
Unity/*/*.csproj
Unity/*/*.unityproj
Unity/*/*.sln
Unity/*/*.suo
Unity/*/*.tmp
Unity/*/*.user
Unity/*/*.userprefs
Unity/*/*.pidb
Unity/*/*.booproj
Unity/*/*.svd
Unity/*/*.pdb
Unity/*/*.mdb
Unity/*/*.opendb
Unity/*/*.VC.db
Unity/*/sysinfo.txt
Unity/*/*.apk
Unity/*/*.aab
Unity/*/*.unitypackage
Unity/*/*.unitypackage.meta
Unity/*/*.app
Unity/*/crashlytics-build.properties
Unity/*/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Unity/*/[Aa]ssets/[Ss]treamingAssets/aa.meta
Unity/*/[Aa]ssets/[Ss]treamingAssets/aa/*
